<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="<%= baseurl %>/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="<%= baseurl %>/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="<%= baseurl %>/favicon-16x16.png"
    />
    <link rel="manifest" href="<%= baseurl %>/site.webmanifest" />
    <link
      rel="mask-icon"
      href="<%= baseurl %>/safari-pinned-tab.svg"
      color="#5bbad5"
    />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />
    <title>Websocket Chat</title>
  </head>
  <style>
    @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300&display=swap");
  </style>
  <body>
    <div id="root"></div>
    <script type="module" src="/src/index.jsx"></script>
  </body>
</html>
